@page
@model Crud.Pages_Exclusive.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Adicione novas promoções</h1><br/>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-center mb-3">
                <input asp-for="Exclusive.Movie" placeholder="Informe o título da nova promoção" class="form-control" />
                <span asp-validation-for="Exclusive.Movie" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-3">
                <input asp-for="Exclusive.StartExclusive" placeholder="Insira a data de começo da promoção" class="form-control" />
                <span asp-validation-for="Exclusive.StartExclusive" class="form-text"> Informe a data de começo da promoção</span>
            </div>
            <div class="form-group text-center mb-3">
                <input asp-for="Exclusive.EndExclusive" class="form-control" />
                <span asp-validation-for="Exclusive.EndExclusive" class="form-text"> Informe a data de término da promoção</span>
            </div>
            <div class="form-group text-center mb-3">
                <input asp-for="Exclusive.ClientId" placeholder="Informe o Id do cliente apto" class="form-control" />
                <span asp-validation-for="Exclusive.ClientId" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Adicionar Cliente" class="btn btn-primary mb-4" /><br>
                <a href="http://localhost:5233/" class="btn btn-danger">Retornar ao início</a>
            </div>
        </form>
    </div>
</div>

