@page
@model Crud.Pages_Exclusive.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 style="text-align: center;">Editar promoção</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Exclusive.Id" />
            <div class="form-group text-center mb-3">
                <input asp-for="Exclusive.Movie" placeholder="Insira o nome do filme desejado" class="form-control" />
                <span asp-validation-for="Exclusive.Movie" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-3">
                <input asp-for="Exclusive.StartExclusive" placeholder="Insira a data de início da promoção" class="form-control" />
                <span asp-validation-for="Exclusive.StartExclusive" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-3">
                <input asp-for="Exclusive.EndExclusive" placeholder="Insira a data de término da promoção" class="form-control" />
                <span asp-validation-for="Exclusive.EndExclusive" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-3">
                <input asp-for="Exclusive.Gender" placeholder="Insira o gênero do filme" class="form-control" />
                <span asp-validation-for="Exclusive.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                 <a href="http://localhost:5233/Exclusive" class="btn btn-danger">Retornar ao início</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

