html {
  font-size: 14px;
}
*{
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.row{
  font-size:18px;
  justify-content: center;
  margin-top: 40px;
}

.btn-danger{
  background-color: red;
}

.control-label{
  font-size: 20px;
  
}

a:hover{
  background-color: #0d6efd;
  border-radius: 10px;
}

a{
  border-radius: 10px;
}

.navbar{
  background-color: #1c1c1c;
}