@page
@model IndexModel
@{
    ViewData["Title"] = "Página Principal";
}

<div class="row text-center">
  <h1 class="display-2 mb-5">Seja bem-vindo</h1><br/><br/>
  <div class="col-md-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Gerenciar os clientes</h5><br/>
        <p class="card-text">Nesta aba você poderá criar, editar, deletar e ver mais detalhes sobre os clientes. </p><br/>
        <a href="http://localhost:5233/Clients" class="btn btn-primary">Veja agora</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

